 body {  
        background-color: aquamarine;  
        margin : 0px;  
    }  
    .fa-star {  
        font-size : 50px;  
        align-content: center;  
    }  
    .container {  
        height: 100px;  
        width: 600px;  
        margin: auto;  
    }  